.Row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    /* margin-top: 1rem; */
}

img {
    max-width: 600px;
}

.about {
    text-align: center;
    color: #ababaa;
    padding-bottom: 2rem;
}

.logo {
    max-width: 720px;
    height: 500px;
}

.city {
    margin-right: 2rem;
    margin-top: 17rem;
    box-shadow: 0 7px 50px 10px rgba(13, 232, 15, 1);
    border: 1px solid #ffffff22
}

/* this is the pulse for the logo */
.pulsate-bck {
    -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
    animation: pulsate-bck 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}