* {
  box-sizing: content-box;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}

body {
  background: black;
  /* display: flex; */
  /* justify-content: center; */
  /* Center align the content horizontally */
  /* align-items: center; */
  /* Center align the content vertically */
  /* min-height: 100vh; */
  /* Ensure the body takes up at least the full viewport height */
}