@import url('https://fonts.cdnfonts.com/css/riky-vampdator-normal');
@import url('https://fonts.cdnfonts.com/css/moonhouse');
@import url('https://fonts.cdnfonts.com/css/neurotoxin');


:root {
  font-family: 'Riky Vampdator Normal', sans-serif;
  font-family: 'moonhouse', sans-serif;
  font-family: 'Neurotoxin', sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(ellipse at 50% 50%, rgba(13, 232, 15, 1) 0%, rgba(0, 0, 0, 1) 59%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(ellipse at 50% 50%, rgba(13, 232, 15, 1) 0%, rgba(0, 0, 0, 1) 59%);

  /* opera 11.10+ */
  background: -o-radial-gradient(ellipse at 50% 50%, rgba(13, 232, 15, 1) 0%, rgba(0, 0, 0, 1) 59%);

  /* ie 10+ */
  background: -ms-radial-gradient(ellipse at 50% 50%, rgba(13, 232, 15, 1) 0%, rgba(0, 0, 0, 1) 59%);

  /* global 92%+ browsers support */
  background: radial-gradient(ellipse at 50% 50%, rgba(13, 232, 15, 1) 0%, rgba(0, 0, 0, 1) 59%);
}

.section__padding {
  padding: 4rem 6rem;
}

/* .section__margin {
  margin: 4rem 6rem;
} */

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width:700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width:550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}